html {
    overflow-y: scroll;
}
body {
    font-size: 13px;
    font-family: Arial, helvetica, sans-serif;
}

h1 {
    float: right;
    margin-top: 0px;
    padding: 10px;
}

.headerBar {
    height: 50px;
    background: hsl(182, 15%, 85%);
    border: 1px solid #CCC;
    width: 70%;
    margin: auto 15%;
}

.search-input {
    width: 60%;
    float: left;
    margin-left: 20%;
    margin-top: 20px;
}

.main {
    width: 70%;
    margin-left: 15%;
    margin-top: 60px;
}

/*===========================*/
/*table*/
/*===========================*/
table {
  border-spacing: 0.5rem;
}
td {
  padding: 0.5rem;
}

td:nth-child(1) { background: hsl(182, 15%, 85%); }
td:nth-child(2) { background: hsl(182, 25%, 85%); }
td:nth-child(3) { background: hsl(182, 35%, 85%); }

.positive {
    background: hsl(132, 65%, 45%);

}
.negative {
    background: hsl(6, 85%, 55%);
}

/*===========================*/
/*fa icons*/
/*===========================*/
.fa-bar-chart {
    padding: 10px;
}

.fa-plus-circle {
    padding: 15px;
}

.fa-plus-circle:active {
    color: grey;
}

.fa-minus-circle:active {
    color: grey;
}

.deleteRow {
    border-color: white;
}

/*===========================*/
/*Errors*/
/*===========================*/
.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 20px 0px 20px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
width: 54%;
margin-left: 20%;
text-align: center;
}
.info {
color: #00529B;
background-color: #BDE5F8;
/*background-image: url('info.png');*/
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
/*background-image:url('success.png');*/
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
/*background-image: url('warning.png');*/
}
.error {
color: #D8000C;
background-color: #FFBABA;
/*background-image: url('error.png');*/
}



